# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*.{php,yml,yaml}]
indent_size = 4
indent_style = space
end_of_line = lf
charset = utf-8
insert_final_newline = true
